//页面初始化样式
@import "base/color";
@import "base/normalize";
@import "base/variable";
@import "base/fn";
//垂直水平居中-两端对齐
.f-justifyAndAlign-center{
  justify-content:space-between;
  align-items: center;
}
//test borer 测试用的边框
.f-test-borer{
  border: solid 1px $stable;
}
