@import "../style";
#app {
  .top-nav{
    background-color: $theme;
    height: 60px;
    line-height: 60px;
    color: $white;
    vertical-align: middle;
    .logo{
      width: 100px;
      height: 60px;
      display: inline-block;
      background-image: url("/src/assets/image/logo.png");
      background-repeat: no-repeat;
      background-position: center center;
      vertical-align: middle;
    }
    .title-left-panel{
      display: inline-block;
      margin-left: 40px;
      .router-link-active{
        background-color: $white;
        color: $theme;
      }
      .title-item{
        display: inline-block;
        margin-left: -10px;
      }
      a{
        display: inline-block;
        padding: 0 20px;
        height: 60px;
        color: $white;
        &:hover{
          background-color: $white;
          color: $theme;
        }
      }
    }
  }
}
