@import "../style";
.p-container-father{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  border: solid black 1px;
  padding: 2rem;
  //第一块表格
  .p-container-first{
    display: flex;
    border: solid 1px $theme;
    width: 30rem;
    min-height: 20rem;
    height:100%;
    flex-direction: row;
    flex-wrap: wrap;
    //功能行
    .p-fun-row{
      width: 100%;
      padding: 1rem 2rem;
      height: 4rem;
      border-bottom: solid 1px $theme;
      display: flex;
      @extend .f-justifyAndAlign-center;
      .el-input{
        width: 10rem;
      }
    }
    //表身
    .p-body-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      //标题行
      .p-title-row{
        border-bottom: solid 1px $theme;
        padding: 1rem 2rem;
        display: flex;
        font-weight: bolder;
        @extend .f-justifyAndAlign-center;
        width: 100%;
        >span{
          width: 100%;
          justify-content: flex-start;
        }
      }
      //内容行
      .p-item-row{
        display: flex;
        padding: 1rem 2rem;
        //@extend .f-justifyAndAlign-center;
        width: 100%;
        border-bottom: solid 1px $stable;
        flex-direction: row;
        >div{
          justify-content: flex-start;
          white-space:nowrap;
          width: 100%;
        }
      }
      .p-item-row:last-child{
        border: none;
      }
    }
    .p-body-noData{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      span{
      }
    }
  }
}
