@import "../style";
#interviewers{
  padding: 30px;
  table{
    margin: 0 auto;
    tr{
      th:first-child{
        cursor: pointer;
        color: $theme;
        text-align: left;
      }
      th{
        width: 300px;
        text-align: left;
      }
      th:last-child{
        text-align: center;
      }
      td{
        text-align: left;
        padding: 6px;
      }
      td:last-child{
        text-align: center;
      }
    }
  }
}
